body{
    margin: 0 auto;
    font-family: 'Merriweather', serif;
    background-color: #ebece5;
}
.title{
    font-size: 30px;
    font-family: 'Cinzel Decorative', cursive;
    color: #231F20 ;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #93C0A4;
}
.navElements{
    display: flex;
}
.navButton a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #0D5C63;
}
.navButton{
    margin-left: 4rem;
}
.navButton a:hover{
    color: #ebece5;
    transition: 0.2s;
}
.add{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.new{
    margin: 3% 0 2% 0;
    font-size: 28px;
    font-weight: 700;
}

.compose{
    display: flex;
   flex-direction: column;
   width: 30%;
}
.name{
    height: 30px;
    font-size: 17px;
    border-radius: 8px;
    border: 1px solid;
    padding: 5px;
}
.content{
    min-height: 200px;
    margin: 10px 0px 10px 0px;
    padding: 5px;
    font-size: 19px;
    border-radius: 8px;
}
.send{
    font-size: 19px;
    padding: 10px 0 10px 0;
   letter-spacing: 1px;
   justify-self: flex-end;
   width: 100%;
   border-radius: 8px;
   border: 1px solid;
}
.send:hover{
    cursor: pointer;
    background-color: #ebece5;
}
.card{
   margin: 5% 0 0 17%;
}
.message{
    border: 2px solid;
    width: 80%;
    font-size: 28px;
    padding: 10px;
    border-radius: 8px;
}
.user{
    margin-top: 10px;
    font-size: 18px;
}
.date{
    margin-top: 5px;
    font-size: 14px;
    color: grey;
}