body{
    margin: 0 auto;
}
.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    background-color: aquamarine;
}
.nav>div{
    display: flex;
}
.navButton{
    margin-left: 4rem;
}

.compose{
    display: flex;
   flex-direction: column;
   width: 30%;
   margin: 5% 35%;
}
.compose>textarea{
    height: 200px;
    margin: 10px 0px 10px 0px;
}